<form name="form" class="form-horizontal" novalidate ng-submit="save(false)" role="form">
    <ns-box data-title="base-plugin-aquila.config.title"  title-icon="fa fa-home" close-href="#/modules">
        <ns-buttons is-edit-mode="isEditMode" save-and-quit="save(true)" disable-save="disableSave" return-path="/modules" form="form">
            <div class="box-content">
                <div class="scrollmenu">
                    <ul class="nav nav-tabs">
                        <li ng-click="onTabSelect('configTab')" class="active"><a data-toggle="tab" href="#configTab" target="_self" translate>configTab.name</a></li>
                        <li ng-click="onTabSelect('tab2')"><a data-toggle="tab" href="#tab2" target="_self" translate></a></li>
                    </ul>
                </div>
            </div>
            <div class="tab-content">
                <div ng-show="tabActive === 'configTab'">
                    <div class="form-group">
                        <div class="col-sm-11">
                            <label for="host" class="col-sm-2 control-label" >Préfixe du coupon</label>
                            <div class="col-sm-6">
                                <input placeholder="localhost" type="text" class="form-control" id="host" name="host" ng-model="configTab.prefix" required>
                                <div class="ns-error-message" ng-show="form.host.$touched || form.nsSubmitted">
                                    <div ng-show="form.host.$error.required" >Champ requis</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-11">
                            <label for="host" class="col-sm-2 control-label" >Autoriser l'utilisation partielle du coupon :</label>
                            <div class="col-sm-6">
                                <ns-switch ng-model="configTab.partialUse" ng-change="onChange(configTab.partialUse)" yes-value="Oui" no-value="Non"></ns-switch>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-content">
                <div ng-show="tabActive === 'tab2'">
                    <div class="form-group">
                        <div class="col-sm-11">
                            <label class="col-sm-2 control-label" translate>mail.detail.html</label>
                            <div class="col-sm-12 tinyeditor-big" ng-if='mail.type === "" || mail.type'>
                                <ns-tinymce lang="'lang'" mail="mail.type === '' ? 'none' : mail.type" text="mail.detail.html"></ns-tinymce>
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ns-buttons>
    </ns-box>
</form>
